html,
body,div.content {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}

a {
    color: #1D3557;
}

a:hover,
a:visited {
    color: #1D3557;
}

button {
    background: none;
    border: 1px solid #6247AA;
    border-radius: 0px;
    cursor: pointer;
    padding: .5rem .75rem;
}

.monospace {
    font-family: monospace;
}