html,
body,
div.content {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

a {
    color: #1d3557;
}

a:hover,
a:visited {
    color: #1d3557;
}

button {
    background: none;
    border: 1px solid #6247aa;
    border-radius: 0px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
}

.monospace {
    font-family: monospace;
}
